@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}





    .navclose{
      clip-path: circle(50px at 99% -10%);
      -webkit-clip-path: circle(50px at 99% -10%);
      transition: all 0.5s ;
    }
    .navopen {

      clip-path: circle(1800px at 99% -10%);
      -webkit-clip-path: circle(1800px at 99% -10%);
      pointer-events: all;
    }
.bb{
    border: 1px blue solid;
}








@layer base {
    body {
        @apply bg-[#ecf0f3] tracking-wide;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold;
    }

    h1 {
        @apply text-4xl sm:text-5xl md:text-6xl;
    }

    h2 {
        @apply text-3xl sm:text-4xl;
    }

    li {
        @apply cursor-pointer;
    }
}
